* {
    margin: 0px;
    padding: 0px;
}

#canvas {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

#btn {
    background-color: red;
    width: 70px;
    height: 40px;
    margin-top: 20px;
    margin-left: 1200px;
}
